html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: $main-font-color;
  font-weight: $main-font-weight;
  background-color: $body-background-color;
}



.header,
.footer {
  flex: 0 0 auto;
}



.main {
  display: flex;
  flex-direction: column;
  border: 4px solid;
  border-radius: 20px;
  flex: 1 0 auto;
  width: 100%;
  max-width: 64rem;
  padding: 3rem;
  margin: 50px auto;
  background-color: $main-background-color;

  .presentation-img {
    max-width: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  h1 {
    text-align: center;
  }

  a {
    color: $main-a-color;
  }

  .website-image {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
  }
  
    
}


@media (max-width: 1088px) {
  .main {
    width: 80%;
    overflow: auto;
    padding: 1rem;

    ul {
      width: 80%;
    }

    code {
      margin: 0;
      padding: 0;
      display: block;
      overflow-x: auto;
    }
       
    img {
      width: 80%;
      border-radius: 20px;
    }
  }
  
}

