.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: $header-background-color;
  border-bottom: solid 2px $border-color;
  
  .nav a {
    font-size: 1.5rem;
    color: $nav-a-color;
  }

}


.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .title {
    margin: 0 1rem;
    
  }

  a {
    color: $title-color;
  }
}

.logo a {
  .logotype {
    width: 125px;
  }
}

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
