.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #faa;

  .nav a {
    font-size: 1.5rem;
  }

}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .title {
    margin: 0 1rem;
  }
}

.logo a {
  .logotype {
    width: 125px;
  }
}

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
