.landing-page {
  display: grid;
  gap: 1.96rem;
  margin-bottom: 3rem;
}

.landing-page h1 {
  grid-column: span 3;
  justify-self: center;
  margin-bottom: 25px;
}

.landing-page h2 {
  justify-self: center;
}

.landing-page a {
  text-decoration: none;
  color: #000;
  text-align: center;
  justify-self: center;
}




.box {
  width: 200px;
  border: 4px solid #faa;
  padding: 1.96rem;
  border-radius: 20px;
}


.box:hover {
  background-color: #faa;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
}

.a.sqlite {
  grid-column: span 3;
}
.box.sqlite {
  justify-self: center;
}

.technology {
  display: flex;
  flex-direction: row;
  align-items: start;
  max-width: 1200px;
}

.technology article {
  width: 60%;
  margin: 0 4em;
    
}

.technology aside {
  min-height: 100%;
  width: 20%;
  border-right: 5px solid #faa;
    
}

.technology aside a {
  text-decoration: none;
  color: #1b1bc1;
}

@media (max-width: 1095px) {
  .landing-page {
    grid-template-columns: auto;

    h1 {
      grid-column: span 1; 
    }

    .a {
      justify-self: center;
    }
  }

  .a.sqlite {
    display: grid;
    grid-column: span 1;
  }

  .box.sqlite {
    justify-self: center;
    width: 200px;
  }
}


@media (max-width: 700px) { 
  .technology {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;

    article {
      width: 95%;
      margin: 0 auto;
    }

    aside {
      min-height: fit-content;
      width: 90%;
      margin: 0 auto;
      margin-top: 100px;
      text-align: center;
      border-top: 5px solid #faa;
    }
  }
}


