$main-background-color: #3b3b3b;
$main-font-color: #fff;
$main-font-weight: 400;
$code-color: #000;
$border-color: #fff;
$nav-a-color: #fff;
$box-border-color: #fff;
$box-hover-color: #fff;
$main-a-color: #2ae19a;
$aside-a-color: #2ae19a;
$title-color: #2ae19a;
$aside-bar-color: #fff;
$code-backround-color: #747373;
$header-background-color: #1f1f1f;
$footer-background-color: #1f1f1f;
$pre-background-color: #747373;


