$main-background-color: #abdfff;
$main-font-color: #000;
$main-font-weight: 500;
$code-color: #000;
$border-color: none;
$nav-a-color: #000;
$box-border-color: #000;
$main-a-color: #ce0f0f;
$code-backround-color: #f5f5f5;
$box-hover-color: #000;
$aside-a-color: #1b1bc1;
$title-color: #000;
$aside-bar-color: #ffdcab;
$header-background-color: #ffdcab;
$footer-background-color: #506d80;
$pre-background-color: #fff;
